page-register {
.t1{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.co{
    background-image: url("../assets/imgs/bg.jpg");
}
.io{
    border: 1px solid rgb(197, 194, 194);
    border-radius: 10px;
    margin-bottom: 15px;
}
}
