page-fav {

    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
    }
  
    ion-navbar{
     // background-color:#f5f5f5;
     color: beige;
     background: linear-gradient(45deg, rgb(255, 255, 255) 0%,rgba(79,133,187,1) 100%);
    }
  
    ion-content {
      background-image: url("../img/back2.png");
    }
  
     .add{
      background-color: rgba(40, 31, 54, 0.493);
      border: 5px;
      border-color: black;
  
    }
  
//     .buton{
//       width: 31%;
//       color: black;
//      // background-color:#f5f5f5;
//       height: 60px;
//       background-color: Transparent;
//       background-repeat:no-repeat;
//       border: none;
//       cursor:pointer;
//       overflow: hidden;
//       outline:none;
      
//   }
  #current{
    color: #313131;
    font-size: 16px;
    font-weight: bold;
  }
  
  ion-toolbar{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    color : #2F2FA2;
    height: 20px;
    align-items: center;
  
  }
  
    .image{
      object-fit: cover;
      object-position: center; 
      height: 200px;
      
    }
  
    .scroll-content{
      background-image: url(C:\Users\hp\clevents\www\img\back1.png);
  
    }
    .card{
      width: 100vw;
      margin-left: -0px;
      overflow: visible;
      // background: linear-gradient(135deg, rgba(242,246,248,1) 0%,rgba(216,225,231,0.99) 35%,rgba(190,205,214,0.99) 56%,rgba(181,198,208,0.95) 63%,rgba(192,209,219,0.9) 72%,rgba(210,226,236,0.8) 87%,rgba(224,239,249,0.67) 98%,rgba(224,239,249,0.65) 100%);      
      background-image: url("../assets/imgs/bg.jpg") 
          } 
      .card1{
      //  background: linear-gradient(to right, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 0%,rgba(97,153,199,1) 13%,rgba(97,153,199,1) 26%,rgba(65,154,214,1) 38%,rgba(58,132,195,1) 53%,rgba(58,139,194,1) 81%,rgba(38,85,139,1) 93%);        
      //  background: linear-gradient(135deg, rgba(242,246,248,1) 0%,rgba(216,225,231,0.99) 35%,rgba(190,205,214,0.99) 56%,rgba(181,198,208,0.95) 63%,rgba(192,209,219,0.9) 72%,rgba(210,226,236,0.8) 87%,rgba(224,239,249,0.67) 98%,rgba(224,239,249,0.65) 100%);      
background-image: url("../assets/imgs/bg.jpg") 
      }
       
       
     .row{
      flex-wrap: nowrap;
      justify-content: space-around;
      // box-shadow: 0 4px 5px #888888;
    }
  
    .sch{
      -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        // border-radius: 20px;
        background: linear-gradient(45deg, rgb(255, 255, 255) 0%,rgba(79,133,187,1) 100%);
        padding-top: 0px;
    }
  }
  